<!-- {{covidGlobalData | json}} -->

<div class="container-fuild">
    <div class="row" *ngIf="covidGlobalData">
        <div class="col-md-3 col-sm-6 text-center">
            <h1>Total Cases</h1>
            <h2>{{covidGlobalData.total_cases}}</h2>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h1>Total Recovered</h1>
            <h2>{{covidGlobalData.total_recovered}}</h2>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h1>Total Unresolved</h1>
            <h2>{{covidGlobalData.total_unresolved}}</h2>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h1>Total Deaths</h1>
            <h2>{{covidGlobalData.total_deaths}}</h2>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h1>Total New Case Today</h1>
            <h2>{{covidGlobalData.total_new_cases_today}}</h2>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h1>Total New Deaths Today</h1>
            <h2>{{covidGlobalData.total_new_deaths_today}}</h2>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h1>Total Active Cases</h1>
            <h2>{{covidGlobalData.total_active_cases}}</h2>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h1>Total Serious Cases</h1>
            <h2>{{covidGlobalData.total_serious_cases}}</h2>
        </div>
    </div>
</div>
<hr>


<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Country </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="total_cases">
        <th mat-header-cell *matHeaderCellDef> Total Cases </th>
        <td mat-cell *matCellDef="let element"> {{element.total_cases}} </td>
    </ng-container>

    <ng-container matColumnDef="total_recovered">
        <th mat-header-cell *matHeaderCellDef> Total Recovered </th>
        <td mat-cell *matCellDef="let element"> {{element.total_recovered}} </td>
    </ng-container>

    <ng-container matColumnDef="total_deaths">
        <th mat-header-cell *matHeaderCellDef> Total Deaths </th>
        <td mat-cell *matCellDef="let element"> {{element.total_deaths}} </td>
    </ng-container>

    <ng-container matColumnDef="total_new_cases_today">
        <th mat-header-cell *matHeaderCellDef> Total New Cases Today </th>
        <td mat-cell *matCellDef="let element"> {{element.total_new_cases_today}} </td>
    </ng-container>

    <ng-container matColumnDef="total_new_deaths_today">
        <th mat-header-cell *matHeaderCellDef> Total New Deaths Today </th>
        <td mat-cell *matCellDef="let element"> {{element.total_new_deaths_today}} </td>
    </ng-container>

    <ng-container matColumnDef="total_active_cases">
        <th mat-header-cell *matHeaderCellDef> Total Active Cases </th>
        <td mat-cell *matCellDef="let element"> {{element.total_active_cases}} </td>
    </ng-container>

    <ng-container matColumnDef="total_serious_cases">
        <th mat-header-cell *matHeaderCellDef> Total Serious Cases</th>
        <td mat-cell *matCellDef="let element"> {{element.total_serious_cases}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <ng-container matColumnDef="cases">
        <th mat-header-cell *matHeaderCellDef> Total Cases </th>
        <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
    </ng-container>

    <ng-container matColumnDef="todayCases">
        <th mat-header-cell *matHeaderCellDef> Today's Cases </th>
        <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
    </ng-container>

    <ng-container matColumnDef="deaths">
        <th mat-header-cell *matHeaderCellDef> Total Deaths </th>
        <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
    </ng-container>

    <ng-container matColumnDef="todayDeaths">
        <th mat-header-cell *matHeaderCellDef> Today's Deaths </th>
        <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
    </ng-container>

    <ng-container matColumnDef="recovered">
        <th mat-header-cell *matHeaderCellDef> Total Recovered </th>
        <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active Cases </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
    </ng-container>

    <ng-container matColumnDef="critical">
        <th mat-header-cell *matHeaderCellDef> Crtitical</th>
        <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
    </ng-container>

    <ng-container matColumnDef="casesPerOneMillion">
        <th mat-header-cell *matHeaderCellDef> Cases Per 1M</th>
        <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion}} </td>
    </ng-container>

    <ng-container matColumnDef="deathsPerOneMillion">
        <th mat-header-cell *matHeaderCellDef> Deaths Per 1M</th>
        <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>