table {
  width: 100%;
}
.container, table{
  overflow-y: hidden;
}

.mat-cell, .mat-header-cell {
  // min-height: 48px;
  text-align: center;
  border-right: 1px solid black;
}
.mat-header-cell {
  font-size: 14px;
}

.mat-cell:first-child, .mat-header-cell:first-child {
  text-align: left !important;
  width: 150px;
}

@media only screen and (max-width: 360px) {
    .col-md-6 h1 {
      font-size: 16px;
    }
    .col-md-6 h2 {
      font-size: 12px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 440px) {
    .col-md-6 h1 {
      font-size: 18px;
    }
    .col-md-6 h2 {
      font-size: 14px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 575.98px) {
    .chart-wrapper{
      margin-left: 100px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .chart-wrapper{
      margin-left: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

}

@media only screen and (min-width: 992px) {

}